<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NotifyTempletMapper">

	<sql id="table_name">cbs_notify_templet</sql>

    <sql id="selectId">
	templetId,type,template
	</sql>


    <select id="findById" resultType="com.lifeix.cbs.message.dto.notify.NotifyTemplet">
        SELECT
        <include refid="selectId"/>
        FROM
        <include refid="table_name"/>
        WHERE
        templetId = #{templetId}
    </select>



</mapper>