<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">

	<sql id="TAB_NAME">cbs_comments</sql>
	
	<insert id="insert" parameterType="com.lifeix.cbs.contest.dto.comment.Comment"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="TAB_NAME" />
		(contestId,contestType, userId, content, images, createTime, ipaddress,client,cirId)
		VALUES
		(#{contestId},#{contestType},#{userId},#{content},#{images},#{createTime},#{ipaddress},#{client},#{cirId})
	</insert>

	<select id="selectAll" resultType="com.lifeix.cbs.contest.dto.comment.Comment">
		SELECT
		id,
		contestId,
		userId,
		content,
		images,
		createTime,
		ipaddress,
		client,
		cirId
		FROM
		<include refid="TAB_NAME" />
		WHERE id &lt; #{startId}
		<if test="contestType != null">
			AND contestType = #{contestType} 
		</if>
		AND contestId = #{contestId}  
		ORDER BY id DESC
		LIMIT #{limit}
	</select>


   <update id="deleteByCirId">
		DELETE FROM
		<include refid="TAB_NAME" />
		WHERE
		cirId = #{cirId}
	</update>
</mapper>