<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MoneyCardMapper">
    <sql id="table_name">cbs_money_card</sql>
	<select id="findById" resultType="com.lifeix.cbs.api.dto.money.MoneyCard">
		SELECT
		id, 
		card_name AS name, 
		card_detail AS detail, 
		price , 
		amount, 
		card_type AS type, 
		handsel, 
		createTime 
		FROM cbs_money_card 
		WHERE 
		id = #{id}
		LIMIT 1
	</select>
	
	<select id="findMoneyCards" resultType="com.lifeix.cbs.api.dto.money.MoneyCard">
		SELECT
		id, 
		card_name AS name, 
		card_detail AS detail, 
		price , 
		amount, 
		card_type AS type, 
		handsel, 
		createTime 
		FROM cbs_money_card 
		<where>
			<if test="deleteFlag != null">
				AND deleteFlag = #{deleteFlag}
			</if>
		</where>
		order by amount asc,id asc
	</select>
	
	<insert id="insert" parameterType="com.lifeix.cbs.api.dto.money.MoneyCard" >
		INSERT INTO 
		<include refid="table_name" />  
		(card_name, card_detail, price, amount, card_type, handsel, createTime) 
		VALUES 
		(#{name},#{detail},#{price},#{amount},#{type},#{handsel},#{createTime})
	</insert>
	
	<update id="update" parameterType="com.lifeix.cbs.api.dto.money.MoneyCard">
		UPDATE  
		<include refid="table_name" /> 
		SET 
		card_name=#{name},
		card_detail=#{detail}, 
		price=#{price},
		amount=#{amount}, 
		card_type=#{type},
		handsel=#{handsel}
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="com.lifeix.cbs.api.dto.money.MoneyCard">
		UPDATE
		<include refid="table_name" /> 
		SET 
		deleteFlag=#{deleteFlag}
		where id = #{id}
	</delete>
	
	
</mapper>